@page
@model MovieTicketSystem.Pages.Seats.IndexModel
@{
    ViewData["Title"] = "Seats";
}

<h1>Seats</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Screen
            </th>
            <th>
                Row
            </th>
            <th>
                Number
            </th>
            <th>
                Type
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Seats) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Screen!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Row)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SeatId" class="btn btn-sm btn-primary">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.SeatId" class="btn btn-sm btn-info">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.SeatId" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
